{% include 'adminheader.html'%}
<section id="main-slider">
      
            <div class="item" style="background-image: url(/static/images/slider/bg2.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
<center>
	<h2>Send Reply</h2>
	<form method="post">
		<table  class="table" style="width: 500px">
		<tr>
			<th>Reply</th>
			<td><input type="text" class="form-control" required=""  name="rep"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="reply"></td>
		</tr>
	</table>
	</form>
</center>
</div></div></div></div></div></div></section>

{% include 'footer.html'%}