{% include 'userheader.html'%}
  <div class="item" style="background-image: url(/static/images/slider/bg2.jpg);height: 200px">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                	</div></div></div></div></div></div></section>
                                    <center>
<!-- <h1><i>CNN Mean Squared Error (MSE):</i>{{data['comp']}}</h1>
<h1><i>LSTM Mean Squared Error (MSE)</i>:{{data['comp1']}}</h1>
<h1><i>Bi-LSTM Mean Squared Error (MSE):</i>{{data['comp2']}}</h1> -->

<h1><i>CNN - Predicted Value :</i>{{data['comp']}}</h1>
<h1><i>LSTM - Predicted Value : </i>{{data['comp1']}}</h1>
<h1><i>Bi-LSTM Predicted Value : </i>{{data['comp2']}}</h1>
</center>
{% include 'footer.html'%}