  {% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <script type="text/javascript">alert("{{message}}")</script>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

      

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/mousescroll.js"></script>
    <script src="/static/js/smoothscroll.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/jquery.inview.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>