{% include 'userheader.html'%}
<!-- <h1>Welcome To User Home Page</h1> -->
    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url(/static/images/slider/bg1.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                   



    </span>
                        



                                    
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->


{% include 'footer.html'%}